@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Student";
}

@model MVCEFCodeFirst.Models.AddModels.AddStudent


<div class="container">
    <div class="card shadow-sm lg-w-50 sm-w-75 mx-auto">
        <h1 class="display-6 text-center text-white fw-bolder bg-dark py-3">Edit Student</h1>
        <form method="post" class="w-100 mx-auto p-4">
            <div class="my-2 form-group">
                <label for="name" class="form-label">Please Enter Full Name</label>
                <input type="text" class="form-control" id="name" asp-for="Name" />
            </div>
            <div class="my-2 form-group">
                <label for="email" class="form-label">Please Enter Email</label>
                <input type="email" class="form-control" id="email" asp-for="Email" />
            </div>
            <div class="my-2 form-group">
                <label for="gender" class="form-label">Please Enter Gender</label>
                <input type="text" class="form-control" id="gender" asp-for="Gender" />
            </div>
            <div class="my-2 form-group d-flex align-items-center justify-content-center gap-2 mt-4">
                <a class="btn btn-secondary" asp-action="Index"><i class="fa fa-arrow-left mx-1"></i>Back to Home</a>
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus mx-1"></i>Add Record</button>
            </div>
        </form>
    </div>
</div>