@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 my-5">Consuming Web APIs</h1>
    <div class="container mb-5">
        <a class="btn btn-primary" asp-controller="Album" asp-action="Index">Albums</a>
        <a class="btn btn-primary" asp-controller="Comment" asp-action="Index">Comments</a>
        <a class="btn btn-primary" asp-controller="Photo" asp-action="Index">Photos</a>
        <a class="btn btn-primary" asp-controller="Post" asp-action="Index">Posts</a>
        <a class="btn btn-primary" asp-controller="Todo" asp-action="Index">Todos</a>
        <a class="btn btn-primary" asp-controller="User" asp-action="Index">Users</a>
    </div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>